@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #224941;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}